

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<form #usuarioForm="ngForm">
					<div class="form-group">
					<label for="id">ID:</label>
					<input  type="text" id="id" name="id"  class="form-control" placeholder="Introduce tu id" [(ngModel)]="ID"/>
					</div>
					<div>
                                        <label for="createSelect">Selecciona clase de usuario a crear:</label>
                                        <select name="createSelect" id="createSelect" class="form-control" [(ngModel)]="createUsuario">
                                                <option *ngFor="let o of optionsSelect1">
                                                        {{o.name}}
                                                </option>
                                        </select>
					<label for="searchSelect">Selecciona parametro para la busqueda:</label>
                                        <select name="searchSelect" id="searchSelect" class="form-control" [(ngModel)]="searchOption">
                                                <option *ngFor="let o of optionsSelect2">
                                                        {{o.name}}
                                                </option>
                                        </select>
					<br>
                                        <button type="submit" class="btn btn-primary mr-2" (click)="addUsuario(usuarioForm)">
                                                Create
                                        </button>
					<button class="btn btn-secondary mr-2" (click)="resetForm(usuarioForm)">
                                        	Clean
	                                </button>
					<button type="submit" class="btn btn-primary mr-2" (click)="searchForm(usuarioForm)">
	                                        Search
        	                       	</button>
	                                <button class= "btn btn-danger mr-2" (click)="deleteUsuario(usuarioForm)">
						Delete
					</button>

					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="col-md-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Clase
					</th>
				</tr>
			</thead>
		<tbody>
			<tr *ngFor = "let usuario of usuarioService.usuarios">
				<td>{{usuario._id}}</td>
                                <td>{{usuario.clase}}</td>

                        </tr>

		</tbody>
		</table>
	</div>

</div>
